.wrapper-buscar-ori-dst{
    position: relative;
    width: 100%;
}

.panel.panel-buscar-ori-dst{
    position:absolute;
    border-radius: 0px !important;
    margin-top: 3px;
    width: 100%;
    display:none;
}

.map-canvas .map .search-bar{
    height:59px;
}

.bootstrap-select .dropdown-menu > .active > a{
    color:#474747;
}

.btn.btn-default i, select.btn-default i{
    color:#333;
}

.panel.panel-buscar-ori-dst > input:nth-child(1){
    border-bottom: 1px solid #ddd;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.color-red{
    color:red;
}

.color-green{
    color:green;
}

.panel.panel-buscar-ori-dst:hover .btn-cerrar{
    color:rgb(199, 199, 199);
}

.panel.panel-buscar-ori-dst .btn-cerrar{
    position: absolute;
    z-index: 10;
    right: 4px;
    top: 10px;
    background: white;
    padding: 4px;
    color:#ddd;
}

.panel.panel-buscar-ori-dst .btn-cerrar:hover{
    color: #999;
}